<div class="d-flex flex-column align-items-center m-3 shadow" style="background: rgba(0,129,167,0.5); border-radius: 5px; width: 50%;">
  <div class="d-flex align-items-center justify-content-around w-100 pt-3">
    <h4 class="fw-normal" style="color: whitesmoke; letter-spacing: 2px;">{{ maaltid.navn }}</h4>
    <h4 class="fw-normal" style="color: whitesmoke; letter-spacing: 2px;">{{ maaltid.pris }} Kr</h4>
  </div>
  <img src="{{ maaltid.bilde }}" class="shadow-sm" style="width: 95%; height: 100%; border-radius: 5px;" alt="bilde av {{maaltid.navn}}">
  <p class="fw-normal mt-2" style="width: 90%; font-size: 16px;">{{ maaltid.beskrivelse }}</p>
  <div class="w-100 d-flex justify-content-center">
    <div class="d-flex justify-content-between align-items-center m-2" style="width: 150px;">
      <a class="btn btn-primary" href="/api/maaltid/oppdater/{{maaltid.id}}">Rediger</a>
      <button class="btn btn-danger">Slett</button>
    </div>
  </div>
</div>
