
<div class="row bg-light">
  <div class="col-lg-3 p-3 d-flex align-items-center">
    <img src="{{ maaltid.bilde }}" class="shadow-sm d-block img-fluid" alt="bilde av {{maaltid.navn}}">
  </div>

  <div class="col-lg-9 p-0">
    <div class="py-lg-5 p-3">
      <p class="text-theme fs-3">{{ maaltid.navn }}</p>
      <hr class="w-100">
      <p class="m-0">{{ maaltid.beskrivelse }} Kr</p>
    </div>

    <div class="px-3 d-flex justify-content-lg-start justify-content-center">
      <p class="m-0 me-3">Pris:
        <span class="text-theme">{{ maaltid.pris }}</span></p>
    </div>

    <div class="d-flex justify-content-lg-end justify-content-center p-3">
      <a class="btn btn-success" routerLink="/api/maaltid/oppdater/{{ maaltid.maaltidId }}">
        <i class="bi bi-pencil me-2"></i>Rediger</a>
      <a class="btn btn-danger ms-2" routerLink="/api/maaltid/slett/{{ maaltid.maaltidId }}">
        <i class="bi bi-trash me-2"></i>Slett</a>
    </div>
  </div>
</div>
