<header class="sticky-top bg-light border-bottom border-1">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
          <img src="assets/logo.svg" alt="logo image" style="width: 35px">
          <small class="mx-4 d-lg-block d-none">Admin</small>
        </a>

        <button class="navbar-toggler" id="btn-toggle" type="button" (click)="toggle()"
                data-bs-toggle="collapse"
                data-bs-target="#navbarMenu"
                aria-controls="navbarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span [ngClass]="{ 'bi bi-list': isExpanded }"></span>
          <span [ngClass]="{ 'bi bi-x': !isExpanded }"></span>
        </button>

        <div class="navbar-collapse" id="navbarMenu" [ngClass]="{ 'collapse': isExpanded }">
          <div class="navbar-nav ms-auto">
            <hr class="d-lg-none d-block w-100 bg-secondary">
            <h3 class="d-lg-none d-block fw-light m-0">Admin</h3>
            <hr class="d-lg-none d-block w-100 bg-secondary">
            <a class="me-lg-4 a-link" routerLink="/ruter">Ruter</a>
            <a class="me-lg-4 a-link" routerLink="/maaltider">Måltider</a>
            <a class="me-lg-4 a-link" routerLink="/lugarer">Lugarer</a>
            <a href="#" class="me-lg-4 text-danger a-link-danger" (click)="logout()">Logg ut</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
