<div class="w-50 border-3 border-primary">
  <h1>rute redigering</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center align-items-center">
    <div class="w-75">
      <label class="form-label fw-bolder">Navn: </label>
      <input formControlName="navn" type="text" placeholder="Frokost" class="form-control">
      <div class="alert alert-warning" role="alert" *ngIf="form.controls.navn.invalid">
        <p>Navnet må begynne med stort bokstav.</p>
      </div>
    </div>
    <div class="mt-2 w-75">
      <label class="form-label fw-bolder">Beskrivelse: </label>
      <textarea  formControlName="beskrivelse" rows="6" cols="5" class="form-control">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore.
      </textarea>
      <div class="alert alert-warning" role="alert" *ngIf="form.controls.beskrivelse.invalid">
        <p>Beskrivelse må ikke være tom.</p>
      </div>
    </div>
    <div class="mt-2 w-75">
      <label class="form-label fw-bolder">Pris: </label>
      <input formControlName="pris" type="number" placeholder="299.90" class="form-control">
      <div class="alert alert-warning" role="alert" *ngIf="form.controls.pris.invalid">
        <p>pris må være større en null</p>
      </div>
    </div>
    <!--<div class="mt-2 w-75">
      <label for="bilde" class="form-label fw-bolder">Bilde: </label>
      <input type="file" placeholder="{{rute.bilde}}" id="bilde" class="form-control" alt="Et bilde" accept=".jpeg, .jpg, .png">
    </div>-->
    <div class="mt-2 w-75 btn-group">
      <input type="submit" value="Lagre" class="btn btn-sm btn-primary">
      <input type="submit" (click)="gaaTilbake()" value="Avbryt" class="btn btn-sm btn-secondary">
    </div>
  </form>
</div>
